$main-color: #FFE600;
$body-bg: #EEEEEE;
$body-color: #222222;
$body-light-color: #666666;
$container-bg: #FFFFFF;


$navbar-padding: 0.5rem;
$navbar-logo-width: 3rem;

$general-padding: 0.25rem;
$general-border-radius: 0.25rem;

$separator-border-color: #EEEEEE;
$results-image-size: 10rem;