$main-color: #FFE600;
$shipping-color: #39b54a;
$body-color: #333;
$body-light-color: #666666;
$button-color: #3483fa;

$body-bg: #EEEEEE;
$container-bg: #FFFFFF;

$navbar-padding: 0.5rem;
$navbar-logo-width: 3rem;

$general-padding: 0.5rem;
$general-border-radius: 0.25rem;

$separator-border-color: #EEEEEE;
$results-image-size: 10rem;