@import "variables";
@import "mixins";

@include tablet-up {
    .row {
        display: flex;
    }
    .col-picture, .col-details {
        width: 50%;
    }
}

@include desktop-up {
    .col-picture {
        width: 75%;
    }
    .col-details {
        width: 25%;
    }
    .product-image {
        height: 500px;
    }

}

.product-image {
    width: 100%;
    object-fit: contain;
}

.details {
    padding: $general-padding;
    margin-top: $general-padding;
    p {
        color: lighten($body-color, 10%);
    }
}