@import "variables";

.main-navbar {
    background-color: $main-color;
    padding: $navbar-padding 0;

    .navbar-container {
        display: flex;
        justify-content: space-between;

        .logo {
            flex-shrink: 0;
            flex-grow: 0;
            width: $navbar-logo-width;
            padding-right: $navbar-padding;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .search-form {
            width: 100%;
            flex-grow: 1;
            display: flex;
            border-radius: $general-border-radius;
            overflow: hidden;

            input, button {
                background-color: #FFFFFF;
                border: 0;
            }

            input {
                padding-left: 1rem;
                width: 100%;
            }
            button {
                padding: 0 1rem;
                margin: 0;
                border: 0;
                border-left: 1px solid $separator-border-color;
                img.icon {
                    height: 1.5rem;
                    width: 1.5rem;
                    line-height: 1.5rem;
                    object-fit: contain;
                }
            }
        }
    }
}