.breadcrumb {
    display: block;
    width: 100%;
    padding: 0.5rem 0;
}

.search-results {
    display: block;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0.25rem;
}

.search-results .item {
    padding: 0.25rem;
    border-bottom: 1px solid #EEEEEE;
    display: flex;
}

.search-results .item:last-child {
    border-bottom: none;
}

.search-results .item img {
    border-radius: 0.25rem;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    overflow: hidden;
}
