@import "variables";
@import "mixins";

body {
    background-color: $body-bg;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    margin: 0 auto;
    width: 90%;
}

@include tablet-up {
    .container {
        max-width: $tablet-breakpoint
    }
}

@include desktop-up {
    .container {
        max-width: $desktop-breakpoint;
    }
}

.page-container {
    transition: all 300ms ease-in-out;
    margin: 1rem 0;
    background-color: $container-bg;
    border-radius: $general-border-radius;
}

.home {
    p {
        padding: $general-padding;
    }
}
